<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css"
        crossorigin="anonymous">
    <link rel="manifest" href="manifest.json">
    <script src="https://use.fontawesome.com/b070c8f1df.js"></script>
    <title>Apps Restaurant</title>
    
</head>

<body>
    <a href="#mainContent" class="skip-link">to restaurant</a>
    <nav-bar></nav-bar>
    <nav-jumbotron></nav-jumbotron>
    <div id="mainContent" tabindex="0">
        <h1 class="text-center t-s-xl my-5">
            Explore Restaurant
        </h1>
        <div class="list-item" id="restaurant"></div>
    </div>
    <footer class="text-center" style="padding: 20px; box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2)">
        <h3>Copyright © 2022 - Hunger Apps</h3>
    </footer>
</body>

</html>